---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Neutralise social icons colours
$github-color: #666;
$instagram-color: #666;
$rss-color: #666;
$twitter-color: #666;

// Turn off all animations
$intro-transition: none;
$global-transition: none;

// Circular site logo
.site-logo img {
  border-radius: 50%;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Reduce font size on larger devices
html {
  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }
}

/*
 * Navigation
 */

// Hide navigation link decoration
.greedy-nav .visible-links a:hover::before {
  display: none;
}

/*
 * Archive
 */

// Hide related posts subtitle
.archive__subtitle {
  display: none;
}

/*
 * Single
 */

// Hide pagination
.pagination {
  display: none;
}

// Remove bold from post updated date label
.page__meta strong {
  font-weight: normal;
}

/*
 * Footer
 */

// Increase footer follow icons font size
.page__footer-follow li {
  font-size: $type-size-4;
}

// Remove footer follow icons label padding
.page__footer-follow a {
  padding-right: 0;
}

// Increase footer copyright font size
.page__footer-copyright {
  font-size: $type-size-6;
}
